In [29]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm

In [2]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [36]:
#Логистическая регрессия
#Выбираем параметры модели и делаем их предобработку
selectedColumns = data[['age', 'education', 'gender',  'race', 'hours-per-week']]
X = pd.get_dummies(selectedColumns, columns = ['education', 'gender',  'race'])
X_scaled = StandardScaler().fit_transform(X)

In [37]:
#обработка целевого значения
le = LabelEncoder()
y = pd.Series(data = le.fit_transform(data['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [38]:
#разбиваем выборку на тестовую и обучающую
x_train, x_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.30, random_state = 1)
#строим модель
log_model = LogisticRegression()
log_model.fit(x_scaled, y_train)

In [39]:
predictions = log_model.predict(x_scaled1)
predictions

array([0, 0, 1, ..., 0, 0, 0])

In [40]:
#оцениваем качество модели
log_model.score(X_scaled, y)

0.8014413824167724

In [26]:
#модель SVM
svm_model = svm.SVC()
svm_model.fit(x_train, y_train)

SVC()

In [27]:
predictions1 = log_model.predict(x_test)
predictions1

array([0, 0, 1, ..., 0, 0, 0])

In [28]:
#оцениваем качество модели
svm_model.score(X_scaled, y)

0.8065804021129356